@{
    ViewData["Title"] = "Panel Administratora";
}

<h2>Panel Administratora</h2>

<p>Tutaj możesz zarządzać zgłoszeniami i błędami.</p>

<div>
    <h4>Operacje dla administratora:</h4>
    <ul>
        <li><a asp-action="ManageBugs">Zarządzaj Błędami</a></li>

    </ul>
</div>
