@{
    ViewData["Title"] = "Zarządzanie Błędami";
}

<h2>Zarządzanie Błędami</h2>

<p>Tutaj administrator może edytować, usuwać i wprowadzać nowe błędy.</p>

<div>
    <h4>Operacje dla administratora:</h4>
    <ul>
        <li><a asp-action="Bugs" asp-controller="Bugs">Przeglądaj Błędy</a></li>
        <li><a asp-action="Create" asp-controller="Bugs">Dodaj Nowy Błąd</a></li>
    </ul>
</div>
