@{
    ViewData["Title"] = "Panel Użytkownika";
}

<h2>Panel Użytkownika</h2>

<p>Tutaj możesz przeglądać zgłoszenia i błędy.</p>


<div>
    <h4>Operacje dla użytkownika:</h4>
    <ul>
        <li><a asp-action="Bugs" asp-controller="Bugs">Przeglądaj Błędy</a></li>
        <li><a asp-action="Create" asp-controller="Bugs">Dodaj Nowy Błąd</a></li>
    </ul>
</div>